<ion-card>
  <ion-card-header>
    <ion-icon name="stats" (click)="changeChart()"></ion-icon>
    Analyse
  </ion-card-header>
  <ion-card-content>
    <div class="display-chart" *ngIf="sumSpendingsByCategory.length">
      <canvas baseChart height="100"
      [datasets]="[{
        data: sumSpendingsByCategory
      }]"
      [labels]="spendingCategories"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="display-amount" >
      &#8377; {{ sumSpendings | number : "1.2-2" }}
    </div>
    <div class="display-date">
      {{ displayMonth + ", " + year }}
    </div>
    <div class="display-nav">
      <button ion-button icon-only clear (click)="more()" color="dark">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </ion-card-content>
</ion-card>